name: Compile and release Typst files

on:
  push:
    # branches:
    #   - master
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Compile Typst to PDF
        uses: lvignoli/typst-action@main
        with:
          source_file: |
            notes.typ
          options: |
            --font-path
            fonts

      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          tag_name: ${{ github.ref_name }}
          files: notes.pdf
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}